*{
     font-family: 'Poppins', sans-serif;
     /* overflow-y: hidden; */
    /* font-family:; */
    /* overflow-x: hidden; */
}
body{
    background:#bac3c761;
}

.homebody{
    margin: 8% 35%;
    box-shadow: 0 2px 10px  rgba(0, 0, 0, 0.287) inset;
    /* border: 1px solid black; */
    padding: 40px;
    border-radius: 30px;
    background: white;
    position: relative;
    top:-60px;

}
h1{
    text-align: center;
}
.Formmain{
    /* text-align: center; */
}
.FormINfo{
    
    /* margin:0 35% ; */
    display: flex;
    flex-direction:column;
}
.FormINfo input{
    background-color: rgba(128, 128, 128, 0.081);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.239); */
    border: none;
    margin: 10px ;
    border-radius: 30px;
    height: 35px;
    padding:10px; 
    opacity: 0.6;  
    /* width: 50%; */
}
.Formdownsection{
   /* gap: 50px; */
  justify-content: space-between;
    display: flex;
    text-wrap: nowrap;
   
}
.Formdownsection h3{
    font-weight: 200;
    font-size: 12px;
}
 .chekboxxx{
        position: relative;
        top:4px !important;
    }
.btnLog{
    text-align: center;

    
}
.btnLog button{
    margin-top: 20px;
    padding: 15px 100px;
    border-radius: 30px;
    border: none;
    background: rgba(0, 0, 255, 0.612);
    color: white;
}
@media (min-width:200px) and (max-width:800px){
    .homebody{
        margin: 10% 5%;
        position: relative;
        top: 60px;
        /* padding: 20px; */
    }
    /* .btnSign{
        position: relative;
        left:-50px;
    } */
    .Formdownsection{
        position: relative;
        left:-30px;
        top: 10px;
    }
    .Formdownsection input{
        position: relative;
        top: -10px;
    }
}
@media (min-width:250px) and (max-width:350px){
    .btnSign{
        position: relative;
        left:-12%;
       
    } 
}
@media (min-width:280px) and (max-width:350px){
    .btnSign{
        position: relative;
        left: -10px;
      
    }
    .btnLog button{
         padding: 10px 70px !important;
    }
    
    .forgetpas h3{
        position: relative;
        left: -20px;
    }

}
@media (min-width:350px) and (max-width:400px){
     .btnLog button{
         padding: 10px 80px !important;
    }
}

@media (min-width:300px) and (max-width:800px){
    .chekboxxx{
        position: relative;
        top:4px !important;
    }
    .btnSign{
        /* margin: 5px 40p; */
        position: relative;
        left:-20px;
    }
    .btnLog button{
        text-wrap: nowrap;
    }
    
}
@media (min-width:310px) and (max-width:330px){
    .Formdownsection{
        gap: 20px !important;
    }
    .btnSign{
        position: relative;
        left:-40px !important;
       
    }
    .btnSign button{
        padding: 10px 60px !important;
    }

} 